:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);

  width: 100vw;
  height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: white;
}

body {
  background: linear-gradient(
    185deg,
    rgb(15, 22, 38),
    rgb(19, 31, 54),
    rgb(38, 67, 140)
  );
}

/*CSS para paginde de HOME*/
.home {
  color: rgb(255, 255, 255);
}
.home h1 {
  padding: 1rem;
  text-align: center;
  font-size: 4rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.formBeneficios {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: linear-gradient(
    180deg,
    rgb(112, 112, 112),
    rgb(63, 63, 63),
    rgb(40, 40, 40)
  );
  width: 40%;
  height: 25rem;
}

.formBeneficios h2 {
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.agregar, .cancelar{
  padding: .5rem 2rem;
  border: none;
  border-radius:.5rem;
}
.cancelar{
  background-color: rgb(217, 79, 79);
}
.agregar{
  background-color: rgb(63, 150, 63);
}
.inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
}
.inputBeneficio{
  padding: .3rem 1rem;
  width: 100%;
  border: none;

}
.botonesBeneficios{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
}
