/* Centra todo en el medio de la pantalla */
.layoutWrapper {
  min-height: 100vh; /* ocupa toda la altura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Caja del login */
.container {
  background-color: rgba(255, 255, 255); /* color de fondo */
  padding: 2rem;
  border-radius: 10px;
  width: 30%; /* el ancho se ajusta al contenido */
}
